body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("/static/images/your_background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #2b2b2b;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6b4e6b;
    color: #3c3744;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 70px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 20px; 
    transition: 0.3s;
    opacity: 0.8; 

}

nav a:hover {
    color: #e6b8af; 
    border-bottom: 2px solid #e6b8af;
    padding-bottom: 5px;
}

.nav-special {
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 15px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 400px) {
    nav a {
        font-size: 14px;
    }
    .nav-special {
        padding: 1px 6px;
        border-radius: 8px;
        backdrop-filter: blur(5px);
    }
}

main {
    padding: 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*viewport height pielagojas iericem un to izmeriem*/
}

.content-wrap {
    flex: 1; 
    backdrop-filter: blur(8px); 
    background-color: rgba(230, 190, 200, 0.5);
    margin: 20px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

.sakuma-poga {
    display: inline-block;
    margin-top: 25px;
    padding: 18px 45px; 
    font-size: 20px; 

    background-color: #e6b8af; 
    color: white;
    text-decoration: none;

    border-radius: 35px; 
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.sakuma-poga:hover {
    background-color: #d4a398; 
    transform: translateY(-2px); /* pacel pogu */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* dod enu pogai */
}

.emotions-container {
   display: flex;
    flex-wrap: wrap;       
    justify-content: center; 
    gap: 25px;            
    padding: 20px;
    max-width: 1200px;    
    margin: 0 auto;       
}

.emotion-card {
    width: 30%;       
    min-width: 280px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.emotion-card:hover {
    transform: translateY(-5px); 
}

.category-tag {
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 10px;
}

.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 10px;
}

.detail-container ul {
    list-style: none; 
    padding: 0;       
    margin: 0 auto;
    text-align: center;
}

.detail-container li {
    display: inline-block; 
    margin: 5px;
    font-style: italic;
    opacity: 0.9;
}


.back-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    color: white !important;
    text-decoration: none;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
}

.back-button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 20px;
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.4); 
    border-radius: 20px; 
    color: white !important;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.3s ease; 
    backdrop-filter: blur(5px); 
}


.btn:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-2px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.emotion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    background-color: #dba48e;
    text-align: center;
    padding: 20px;
}


h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #2b2b2b;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2b2b2b;
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2b2b2b;
    text-align: center;
}

img {
    max-width: 200px;
    height: auto;
}