{% extends "base.html" %}
{% block title %}Apraksts - Emociju dienasgrāmata{% endblock %}
{% block content %}
<div class="detail-container">
    <h1 style="color: {{ emotion.krasas_kods }}">{{ emotion.vards }}</h1>
    <div class="glass-box">
        <h3>Kategorija: {{ emotion.kategorija }} emocijas</h3>
        <p>{{ emotion.garaks_apraksts }}</p>
    </div>

    <h3>Sinonīmi:</h3>
    <ul>
        {% for s in synonyms %}
        <li>{{ s.sinonimi }}</li>
        {% endfor %}
    </ul>

    <a href="/apraksti" class="back-button">← Atpakaļ pie saraksta</a>
</div>
{% endblock %}