{% extends "base.html" %}
{% block title %}Sākums{% endblock %}
{% block content %}
<h1>Emociju dienasgrāmata - Tavs ceļvedis emociju pasaulē</h1>
<h2>Emocijas ir mūsu iekšējā valoda, kas krāso ikdienu dažādās nokrāsās. No klusa miera līdz dzirkstošam priekam – katra sajūta mums kaut ko vēsta par mums pašiem un pasauli mums apkārt.</h2>
<h3>"Emociju dienasgrāmata" ir vieta, kur mācīties atpazīt, saprast un pieņemt savas jūtas. Izpēti dažādu emociju dabu, uzzini to nozīmi un atrodi vārdus tam, ko dažkārt ir tik grūti izteikt. Sāc savu pašatklāsmes ceļojumu jau šodien un ieraugi savu iekšējo pasauli jaunā gaismā.</h3>
<a href="{{ url_for('about') }}" class="sakuma-poga">Uzzināt vairāk par mums!</a>
{% endblock %}